<div style="max-width:600px">
  <div style="font-family:'Syne',sans-serif;font-size:16px;font-weight:700;margin-bottom:18px">Mon profil</div>

  <form [formGroup]="profileForm" (ngSubmit)="onUpdateProfile()">
    <div class="sc" style="margin-bottom:16px">
      <div class="sc-head">
        <div class="sc-title">Informations personnelles</div>
        <button type="button" class="btn btn-ghost">Détails</button>
      </div>

      <div style="padding:18px 20px;display:flex;flex-direction:column;gap:14px">
        <div style="display:grid;grid-template-columns:1fr 1fr;gap:12px">
          <div class="field">
            <div class="field-label">Prénom</div>
            <input type="text" formControlName="prenom">
          </div>
          <div class="field">
            <div class="field-label">Nom</div>
            <input type="text" formControlName="nom">
          </div>
        </div>

        <div class="field">
          <div class="field-label">Email</div>
          <input type="email" formControlName="email">
        </div>

        <div class="field">
          <div class="field-label">Spécialité / Profession</div>
          <input type="text" formControlName="profession">
        </div>

        <button type="submit" class="btn btn-primary" style="width:fit-content" [disabled]="profileForm.invalid">
          Enregistrer les modifications
        </button>
      </div>
    </div>
  </form>

  <div class="sc">
    <div class="sc-head">
      <div class="sc-title">Sécurité</div>
    </div>
    <div style="padding:18px 20px;display:flex;flex-direction:column;gap:12px">

      <div
        style="display:flex;align-items:center;justify-content:space-between;padding:12px;border:1px solid var(--border);border-radius:var(--r-sm)">
        <div>
          <div style="font-size:13.5px;font-weight:600">Authentification MFA</div>
          <div style="font-size:12px;color:var(--text-3)">Protège votre compte avec un code TOTP</div>
        </div>
        <button type="button" class="btn btn-primary">Activer</button>
      </div>

      <div
        style="display:flex;align-items:center;justify-content:space-between;padding:12px;border:1px solid var(--border);border-radius:var(--r-sm)">
        <div>
          <div style="font-size:13.5px;font-weight:600">Changer le mot de passe</div>
          <div style="font-size:12px;color:var(--text-3)">Mettre à jour votre accès sécurisé</div>
        </div>
        <button type="button" class="btn btn-ghost" (click)="showPasswordModal = true">Modifier</button>
      </div>
      @if (showPasswordModal) {
      <app-change-password-modal (closeDialog)="showPasswordModal = false"></app-change-password-modal>
      }
    </div>

  </div>


</div>